<% content_for :breadcrumb do %>
	  
	  <li class="active"><%= @survey.title %></li>
<% end  %>


<h3>
	调查：<%= @survey.title %>
</h3>

<blockquote>
	<%= @survey.description %>
</blockquote>

<!--Question List-->
<%= link_to new_survey_question_path(@survey),class: "btn btn-primary" do %>
	<i class="icon-plus icon-white"></i>增加新问题
<% end %>

<% if !@survey.questions.blank? %>
  <% for q in @survey.questions %>
    <div class="item" id="question<%= q.id %>">
    	<i class="icon-question-sign"></i><%= link_to q.subject,survey_question_path(@survey,q) %>
		<%= link_to survey_question_path(@survey,q),method: :delete,remote: true,confirm: "真的要删除？" do %>
			<i class="icon-remove"></i>删除
		<% end %>
    </div>
  <% end %>
<% else %>
  <div class="empty">
  	还没有题目
  </div>
<% end %>

