<!DOCTYPE html>
<html>
<head>
  <title>Rating</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<!--main topic-->
			<div class="span10">
					<h1 style="color:#1876db">问卷调查统计</h1>
			</div>
			<div class="span2">
				<div class="btn-group">
					
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
				  <li>
				    <%= link_to root_path do %>
						<i class="icon-home"></i>
					<% end  %>
				 	<span class="divider">/</span>
				  </li>
				  <%= yield :breadcrumb %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span12 margin-middle">
				<%= yield %>
			</div>
			
		</div>
	    
	</div>
</body>
</html>
