<!DOCTYPE html>
<html>
<head>
  <title>Rating</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<!--main topic-->
			<div class="span4">
					<h1>问卷调查统计</h1>
			</div>
			<div class="span4 offset4">
				<div class="btn-group">
					<%= link_to root_path, class: "btn" do %>
						<i class="icon-home"></i>返回首页
					<% end %>
					
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="span12 topline margin-middle">
				<%= yield %>
			</div>
			
		</div>
	    
	</div>
</body>
</html>
